@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Roboto&display=swap');

$font-primary: 'Noto Sans', sans-serif;

$input-styles:(
	"background": rgba(24, 24, 24, 0.77),
	"border": rgba($color: #FFFFFF, $alpha: 0.7),
	"text": #FFFFFF
);

$body-color:(
    "base": #0F0F10,
    "light": #1E2022,
    "lighter": #5A5E65
);

$primary-color: (
    "light": #3988F6,
    "dark": #1E5AAC
);

$status-color: (
    "success": #5FBB46,
    "warning": #FFC416,
    "error": #EC493B
);

$font--weight: (
    light: 300,
    regular: 400,
    semi: 500,
    bold: 700
);

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}