@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Roboto&display=swap");
@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  font-size: 62.5%;
  /* 1em = 10px */
  height: 100%;
  min-height: 100%; }

body {
  min-height: 100vh; }

ul {
  list-style-type: none; }

button {
  cursor: pointer; }

a,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 8rem;
  padding: 0 2vw;
  background: rgba(151, 151, 151, 0.7); }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    footer .footer {
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      background: rgba(151, 151, 151, 0.34); } }
  footer .footer__social i {
    color: white;
    font-size: 3em;
    transition: all .2s ease-in; }
    footer .footer__social i:hover {
      color: #dadada;
      transition: all .2s ease-out; }
  footer .footer__social *:not(:first-child):not(:last-child) {
    margin: 0 1vw; }
  footer .footer__copyright, footer .footer__help a {
    color: white;
    font-size: 1.5em; }

@media screen and (max-width: 480px) {
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    width: 100vw;
    height: auto; }
    footer .footer:first-child {
      padding-top: .6rem; }
    footer .footer:last-child {
      padding-bottom: .6rem; } }

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0; }
  header .navbar {
    width: 90vw;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0; }
    header .navbar__logo a img:hover {
      transform: translatey(0px);
      animation: float 2s ease-in-out infinite; }
    header .navbar__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0;
      padding: 3rem 20rem 3rem 5rem;
      background: rgba(151, 151, 151, 0.7); }
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        header .navbar__menu {
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          background: rgba(151, 151, 151, 0.34); } }
      header .navbar__menu--item a {
        padding: 3rem 2.5rem;
        transition: all .3s ease-out;
        font-family: 'Noto Sans', sans-serif;
        font-size: 2em;
        color: white;
        text-align: center;
        letter-spacing: 0.02rem; }
        header .navbar__menu--item a:hover {
          background-color: rgba(151, 151, 151, 0.7);
          transition: all .3s ease-in;
          box-shadow: 0px -0.4rem 0px 0px #d1d1d1 inset; }
        header .navbar__menu--item a.active {
          box-shadow: 0px -0.4rem 0px 0px #fff inset; }
      header .navbar__menu--item:last-of-type {
        display: none; }
      header .navbar__menu--item .hamburger__menu {
        display: none;
        position: absolute;
        z-index: 2;
        right: 2vw; }
      header .navbar__menu--item .hamburger__icon {
        display: none;
        position: absolute;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        top: 24px; }
        header .navbar__menu--item .hamburger__icon div {
          position: relative;
          background: white;
          height: 4px;
          width: 100%;
          transition: all  0.4s ease; }
          header .navbar__menu--item .hamburger__icon div::after, header .navbar__menu--item .hamburger__icon div::before {
            content: '';
            position: absolute;
            top: -10px;
            background: white;
            width: 100%;
            height: 4px;
            transition: all  0.4s ease; }
          header .navbar__menu--item .hamburger__icon div::after {
            top: 10px; }
      header .navbar__menu--item #sub-menu--toggler {
        z-index: 2;
        height: 40px;
        width: 40px;
        cursor: pointer;
        opacity: 0;
        position: sticky; }
        header .navbar__menu--item #sub-menu--toggler:checked ~ .hamburger__menu {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0;
          position: absolute; }
          header .navbar__menu--item #sub-menu--toggler:checked ~ .hamburger__menu ul {
            background: rgba(151, 151, 151, 0.7);
            box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.2), 10px 8px 15px rgba(0, 0, 0, 0.2);
            padding: 0;
            margin: 0; }
            @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
              header .navbar__menu--item #sub-menu--toggler:checked ~ .hamburger__menu ul {
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
                background: rgba(151, 151, 151, 0.34); } }
          header .navbar__menu--item #sub-menu--toggler:checked ~ .hamburger__menu .sub-menu__link {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 0;
            font-family: 'Noto Sans', sans-serif;
            font-size: 1.8em;
            text-align: center;
            padding: 1rem 2rem; }
            header .navbar__menu--item #sub-menu--toggler:checked ~ .hamburger__menu .sub-menu__link:hover {
              background: rgba(151, 151, 151, 0.7);
              transition: all .3s ease-in-out;
              box-shadow: 0px -0.4rem 0px 0px #d1d1d1 inset; }
        header .navbar__menu--item #sub-menu--toggler:checked + .hamburger__icon div {
          background: rgba(0, 0, 0, 0); }
          header .navbar__menu--item #sub-menu--toggler:checked + .hamburger__icon div::before {
            top: 0;
            transform: rotate(45deg); }
          header .navbar__menu--item #sub-menu--toggler:checked + .hamburger__icon div::after {
            top: 0;
            transform: rotate(135deg); }

@-moz-document url-prefix() {
  .hamburger__icon {
    top: 75px !important; } }

@media screen and (max-width: 1024px) {
  header .navbar__menu {
    padding: 2.5rem 10rem 2.5rem 3rem; }
    header .navbar__menu--item a {
      padding: 2.5rem 2rem; } }

@media screen and (max-width: 768px) {
  header .navbar__menu {
    padding: 2rem 4rem 2rem 1rem; }
    header .navbar__menu--item a {
      padding: 2rem;
      font-size: 1.4em; } }

@media screen and (max-width: 600px) {
  header .navbar__menu {
    padding: 1rem 2rem 1rem 1rem; }
    header .navbar__menu--item:not(:last-child) {
      display: none; }
    header .navbar__menu--item:last-child, header .navbar__menu--item #sub-menu--toggler, header .navbar__menu--item .hamburger__icon {
      display: block; } }

body .destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 12.5rem auto;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px; }
  body .destinations__overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, rgba(151, 151, 151, 0.15), rgba(151, 151, 151, 0.15));
    background: linear-gradient(to right, rgba(151, 151, 151, 0.15), rgba(151, 151, 151, 0.15));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out; }
    body .destinations__overlay .overlay__panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      position: absolute;
      padding: 0 40px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out; }
      body .destinations__overlay .overlay__panel h1 {
        font-family: 'Noto Sans', sans-serif;
        font-size: 3.8em;
        color: white; }
      body .destinations__overlay .overlay__panel img {
        width: 300px; }
      body .destinations__overlay .overlay__panel--left {
        transform: translateX(-20%); }
      body .destinations__overlay .overlay__panel--right {
        right: 0;
        transform: translateX(0); }
    body .destinations__overlay--container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100; }
  body .destinations__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out; }
    body .destinations__container h2, body .destinations__container h3 {
      font-family: 'Noto Sans', sans-serif;
      font-size: 4em;
      color: white;
      text-align: center; }
    body .destinations__container h3 {
      font-weight: 300;
      font-size: 1.6em;
      text-align: start;
      padding: 4rem 2.5rem; }
    body .destinations__container .travel__stats {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4rem;
      margin-bottom: 6rem; }
      body .destinations__container .travel__stats--distance p:first-of-type, body .destinations__container .travel__stats--time p:first-of-type {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2em;
        color: white; }
      body .destinations__container .travel__stats--distance p:last-of-type, body .destinations__container .travel__stats--time p:last-of-type {
        font-family: 'Bellefair', sans-serif;
        color: white;
        font-size: 3.2em; }
  body .destinations button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.01rem;
    background: rgba(24, 24, 24, 0.685);
    border-radius: 2rem;
    border: white 0.2rem solid;
    color: white;
    padding: 1.2rem 4.5rem;
    transition: transform .08s ease-in; }
    body .destinations button:active {
      transform: scale(0.95); }
    body .destinations button:focus {
      outline: none; }
    body .destinations button.ghost {
      background-color: transparent;
      border-color: white; }
  body .destinations .moon {
    background: rgba(87, 87, 87, 0.4);
    left: 0;
    width: 50%;
    z-index: 2; }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      body .destinations .moon {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        background: rgba(87, 87, 87, 0.2); } }
  body .destinations .mars {
    background: rgba(87, 87, 87, 0.4);
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1; }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      body .destinations .mars {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        background: rgba(87, 87, 87, 0.2); } }

.destinations.right-panel-active .moon {
  transform: translateX(100%);
  opacity: 0; }

.destinations.right-panel-active .mars {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s; }

.destinations.right-panel-active .overlay__panel--left {
  transform: translateX(0); }

.destinations.right-panel-active .overlay__panel--right {
  transform: translateX(20%); }

.destinations.right-panel-active .destinations__overlay {
  transform: translateX(50%); }
  .destinations.right-panel-active .destinations__overlay--container {
    transform: translateX(-100%); }

@keyframes show {
  0%, 49% {
    opacity: 0;
    z-index: 1; }
  50%, 100% {
    opacity: 1;
    z-index: 5; } }

body .booking {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em;
  color: white;
  margin: 8rem auto; }
  body .booking input, body .booking select, body .booking button {
    background-color: rgba(24, 24, 24, 0.77);
    border: rgba(255, 255, 255, 0.7) 0.1rem solid;
    border-radius: .6rem;
    color: #FFFFFF; }
  body .booking__destination--date, body .booking__destination--info, body .booking__contact, body .booking .accordion__panel {
    background: rgba(87, 87, 87, 0.4); }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      body .booking__destination--date, body .booking__destination--info, body .booking__contact, body .booking .accordion__panel {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        background: rgba(87, 87, 87, 0.2); } }
  body .booking__destination--date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 50vw;
    height: 7rem; }
    body .booking__destination--date form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5rem; }
      body .booking__destination--date form .passenger__quantity {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem; }
      body .booking__destination--date form select {
        width: 20rem;
        height: 3rem;
        padding: 0 0.6rem; }
      body .booking__destination--date form input {
        text-align: center; }
        body .booking__destination--date form input[type=date] {
          width: 15rem;
          height: 3rem; }
        body .booking__destination--date form input[type=button] {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50%;
          font-size: 1em;
          background-color: gray;
          transition: all .4s ease; }
          body .booking__destination--date form input[type=button]:hover {
            background-color: black;
            cursor: pointer; }
        body .booking__destination--date form input[type=number] {
          width: 5rem;
          height: 2.6rem;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1.6rem;
          color: white;
          border-radius: 1rem;
          border: black 0.1rem solid; }
  body .booking__destination--info {
    width: 50vw;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0; }
    body .booking__destination--info .temperature-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1.6rem; }
    body .booking__destination--info--moon, body .booking__destination--info--mars, body .booking__destination--info .no__destination {
      display: none; }
      body .booking__destination--info--moon.active, body .booking__destination--info--mars.active, body .booking__destination--info .no__destination.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem; }
    body .booking__destination--info img {
      width: 80px;
      height: 80px; }
  body .booking__passenger--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem; }
    body .booking__passenger--container--data .accordion {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.4em;
      color: white;
      text-align: left;
      width: 50vw;
      height: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
      background-color: rgba(87, 87, 87, 0.4);
      padding-left: 1rem;
      border: none;
      transition: all .4s ease; }
      body .booking__passenger--container--data .accordion::after {
        content: '+';
        font-size: 120%;
        color: white;
        margin-right: .8rem; }
      body .booking__passenger--container--data .accordion.open, body .booking__passenger--container--data .accordion:hover {
        background-color: rgba(100, 100, 100, 0.664); }
      body .booking__passenger--container--data .accordion.open::after {
        content: '-'; }
      body .booking__passenger--container--data .accordion__panel {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        justify-content: start;
        align-content: center;
        row-gap: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        background: rgba(87, 87, 87, 0.2);
        justify-items: center;
        padding: 4rem 0 2rem 0;
        display: none; }
        body .booking__passenger--container--data .accordion__panel .passenger__data--name {
          width: 100%; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--name form {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            gap: 0; }
            body .booking__passenger--container--data .accordion__panel .passenger__data--name form input {
              width: 30rem;
              height: 3rem;
              padding-left: 1rem; }
              body .booking__passenger--container--data .accordion__panel .passenger__data--name form input::placeholder {
                color: white; }
        body .booking__passenger--container--data .accordion__panel .passenger__data--birth {
          width: 100%; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--birth form {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            gap: 0; }
            body .booking__passenger--container--data .accordion__panel .passenger__data--birth form input[type=date] {
              width: 30rem;
              height: 3rem;
              padding-left: 1rem; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--birth--gender label {
            font-size: 1em; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--birth--gender select {
            width: 30rem;
            height: 3rem;
            padding-left: 1rem; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--birth--gender .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1.4rem;
            width: 30rem;
            height: 3rem; }
            body .booking__passenger--container--data .accordion__panel .passenger__data--birth--gender .container div {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 0.5rem; }
        body .booking__passenger--container--data .accordion__panel .passenger__data--id {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: flex-start;
          gap: 0;
          width: 100%; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--id form input, body .booking__passenger--container--data .accordion__panel .passenger__data--id form select {
            width: 19rem;
            height: 3rem;
            padding-left: 1rem; }
          body .booking__passenger--container--data .accordion__panel .passenger__data--id form.wrapper:not(:first-child):not(:last-child) input {
            width: 11rem; }
    body .booking__passenger--container--data .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem; }
    body .booking__passenger--container--data h2 {
      justify-self: start; }
    body .booking__passenger--container--data label {
      font-size: 1em; }
  body .booking__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 50vw;
    padding: 1rem 2rem 3rem 2rem; }
    body .booking__contact form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      gap: 0;
      margin-top: 3rem;
      width: 100%; }
      body .booking__contact form input {
        padding-left: 1rem; }
        body .booking__contact form input::placeholder {
          color: white; }
        body .booking__contact form input[type=email] {
          width: 22rem;
          height: 3rem; }
        body .booking__contact form input[type=number] {
          width: 5rem;
          height: 3rem; }
        body .booking__contact form input[type=tel] {
          width: 20rem;
          height: 3rem; }
      body .booking__contact form .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem; }
      body .booking__contact form .booking__contact--phone {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem; }
  body .booking__payment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    margin: 2rem 0; }
    body .booking__payment--details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0;
      width: 40rem;
      height: auto;
      background: rgba(87, 87, 87, 0.4);
      padding: 3rem 3rem 0; }
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        body .booking__payment--details {
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          background: rgba(87, 87, 87, 0.2); } }
      body .booking__payment--details > p {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 3rem; }
      body .booking__payment--details .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        width: 100%;
        border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
        margin-bottom: 2rem;
        padding-bottom: 1rem; }
        body .booking__payment--details .item:nth-child(5) {
          border: none; }
        body .booking__payment--details .item p {
          font-family: 'Noto Sans', sans-serif;
          font-size: 0.8em;
          font-weight: 300; }
    body .booking__payment--total {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0;
      background: rgba(196, 196, 196, 0.4);
      padding: 1rem 3rem; }
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        body .booking__payment--total {
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          background: rgba(255, 255, 255, 0.2); } }
      body .booking__payment--total .price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        width: 100%; }
        body .booking__payment--total .price:nth-child(-n+2) {
          font-size: .8em; }
        body .booking__payment--total .price:nth-child(2) {
          font-style: italic;
          font-weight: 300; }
        body .booking__payment--total .price:last-of-type {
          font-size: 1.2em;
          font-weight: 700;
          margin-top: 1rem; }
    body .booking__payment--card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0;
      width: 50rem;
      height: auto;
      background: rgba(87, 87, 87, 0.4);
      box-shadow: -6px 0px 9px -3px rgba(0, 0, 0, 0.8);
      padding: 4rem 6rem; }
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        body .booking__payment--card {
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          background: rgba(87, 87, 87, 0.2); } }
      body .booking__payment--card p {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.6em;
        text-align: center;
        width: 100%;
        margin-bottom: 4rem; }
      body .booking__payment--card form {
        width: 100%; }
        body .booking__payment--card form i#card-type {
          font-size: 1.5em;
          position: absolute;
          right: 66px;
          top: 165px; }
        body .booking__payment--card form label {
          display: block; }
        body .booking__payment--card form input {
          font-family: 'Noto Sans', sans-serif;
          font-size: 0.9em;
          font-weight: 300;
          width: 100%;
          height: 4rem;
          padding-left: 1rem;
          margin: 1rem 0 3rem 0; }
          body .booking__payment--card form input:first-of-type {
            margin: 1rem 0 1rem 0; }
        body .booking__payment--card form .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          gap: 0; }
          body .booking__payment--card form .row input, body .booking__payment--card form .row select {
            width: 8rem;
            height: 4rem;
            font-family: 'Noto Sans', sans-serif;
            font-size: 0.9em;
            font-weight: 300;
            margin: 1rem 0; }
          body .booking__payment--card form .row input {
            padding: 0;
            text-align: center;
            margin: 1rem 0; }
          body .booking__payment--card form .row a:hover {
            cursor: pointer; }
      body .booking__payment--card button {
        width: 100%;
        height: 5rem;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        background-color: #5FBB46;
        border: none;
        margin-top: 4rem;
        transition: all .1s ease-in; }
        body .booking__payment--card button:hover {
          transform: scale(1.1);
          border: .1rem solid white; }
    body .booking__payment button.back {
      width: 100%;
      height: auto;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      border: none;
      border-radius: 0;
      padding: 1rem 0;
      background-color: rgba(255, 196, 22, 0.5);
      transition: all .15s ease-in; }
      body .booking__payment button.back:hover {
        background-color: rgba(255, 196, 22, 0.8); }
  body .booking button.form--submit {
    width: 20rem;
    height: 4rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: white;
    border-radius: 3rem;
    transition: all .4s ease; }
    body .booking button.form--submit:hover {
      background-color: rgba(100, 100, 100, 0.664); }
  body .booking #error-msg {
    width: 50vw;
    height: auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: rgba(22, 22, 22, 0.664);
    border: .1rem solid red;
    display: none; }
  body .booking .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 90vw;
    height: 60.8vh; }
  body .booking .hidden {
    display: none; }
  body .booking .loader {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
    width: 100vw;
    height: 65vh;
    font-size: 1em;
    position: fixed;
    text-indent: -9999em;
    border-top: 0.7em solid rgba(255, 255, 255, 0.2);
    border-right: 0.7em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.7em solid rgba(255, 255, 255, 0.2);
    border-left: .7em solid #ffffff;
    background-color: rgba(25, 25, 25, 0.6);
    z-index: -1; }
    body .booking .loader, body .booking .loader:after {
      width: 10em;
      height: 10em;
      border-radius: 50%; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes loading {
  body .booking 0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  body .booking 100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
  body .booking input[type="date"]::-webkit-inner-spin-button,
  body .booking input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 1rem; }
  body .booking input::-webkit-outer-spin-button,
  body .booking input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  body .booking input[type=number] {
    -moz-appearance: textfield; }

body .input-error {
  border: #EC493B 0.1rem solid !important; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(../img/earth.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  body .home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    min-height: 77.2vh; }
    body .home__title--title {
      font-family: 'Noto Sans', sans-serif;
      font-size: 3.8em;
      color: white;
      font-weight: 300;
      letter-spacing: -0.02rem;
      margin-bottom: 2rem; }
    body .home__title--subtitle {
      font-family: 'Noto Sans', sans-serif;
      font-size: 2em;
      color: white;
      font-weight: 300;
      letter-spacing: -0.02rem;
      width: 53rem; }
    body .home__title .rocket {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 0; }
      body .home__title .rocket hr {
        width: 100%;
        height: 0.5rem;
        background-color: white;
        margin-top: 9rem;
        margin-bottom: 1.3rem; }
      body .home__title .rocket i {
        font-size: 3.2em;
        color: white;
        transform: rotate(45deg); }
    body .home__explore {
      margin-top: 14rem; }
      body .home__explore--button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 3.8em;
        color: black;
        font-weight: 300;
        letter-spacing: -0.02rem;
        width: 30rem;
        height: 30rem;
        background-color: white;
        border-radius: 100%;
        transition: .5s; }
        body .home__explore--button:hover {
          transform: scale(1.25);
          box-shadow: 0px 0px 15px #fff; }

.swal2-container {
  font-family: 'Noto Sans', sans-serif; }

.swal2-popup {
  width: 40em;
  border: #3E3E3E .1rem solid;
  border-radius: 1rem; }

.swal2-title {
  font-size: 2.3em; }

.swal2-styled.swal2-confirm {
  background-color: #3E3E3E; }
  .swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(206, 206, 206, 0.5); }

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.5); }
